* {
    padding:0;
    margin:0;
    border:0;
}
:root {
    --salmon: #FA8072;
}
body {
    background-color: #f1f1f1;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    background-color: var(--salmon);
    
}
main {
    width:80%;
    margin:40px auto;
    padding:40px;
    border-radius:20px;
    box-shadow: 15px 15px 40px #00000020;
    background-color:#ffffff;
}

h1 {
    color:#373F51;
}
p {
    margin: 20px 0;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
a:hover {
    color:#000000;
}

/* Styles Timer on Header. */

#timer {
    background-color:#000000;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    padding:20px 40px;
    border-radius: 10px;
}

/* Action Buttons. */

#startGame, #submitInitials, #homeBtn {
    background-color:#000000;
    color:#ffffff;
    padding: 15px 30px;
    border-radius:10px;
    text-transform:uppercase;
    letter-spacing: 2px;
}
#startGame:hover, #submitInitials:hover, 
#homeBtn:hover {
    background-color:var(--salmon);
}

#clearScores {
    background-color:var(--salmon);
    color:#ffffff;
    padding: 15px 30px;
    border-radius:10px;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-left:15px;
}
#clearScores:hover {
    background-color:#000000;
}

/* Multiple Choice Buttons. */

.choiceButtonStyle button {
    width: 100%;
    border:2px solid var(--salmon);
    background-color:#ffffff;
    color:#000000;
    margin: 5px 0;
    border-radius:10px;
    padding: 15px 30px;;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align:left;

}
.choiceButtonStyle button:hover {
    border:2px solid var(--salmon);
    background-color:var(--salmon);
    color:#ffffff;
}


/* Questions font styling. */


#questionTitle {
    font-size:25px;
    font-weight:600;
    margin-bottom:30px;
}

/* Results font styling. */

#results {
    font-size:25px;
    font-weight:600;
    margin-bottom:20px;
}

/* Player initials input. */

#playerInitials {
    border:2px solid #000000;
    margin-right:20px;
    padding:12px;
    border-radius:10px;
}

#playerInitials:focus-visible {
    border: 2px solid var(--salmon);
}

/* Hides results section until needed. */

.hideResultsSection {
    display:none;
}

/* High scores page list styling. */

#scoreBoard {
    padding: 20px 0 40px 0;
}

li {
    list-style-type:none;
}
.scoresList:nth-child(odd) {
    background-color:#fA807240;
    border-radius: 5px;
}
.scoresList {
    padding: 10px;
}

/* Media Query for header. */

@media screen and (max-width:570px) {
    header {
        flex-direction: column;
        gap:15px;
    }
}